* {
    font-family: 'Didact Gothic';
    margin: 0;
}

.shows {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 7.5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list{
    padding-right: 15px;
}

#header-background {
    width: 100%;
    height: auto;
}

.nav-items {
    font-size: 25px;
    opacity: .5;
    padding-top: 15px;
    position: absolute;
    top: 8px;
    right: 16px;
}

a {
    text-decoration: none;
    color: wheat;
}

.field {
    text-align: center;
    font-size: 20px;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
    margin-left: 30%;
    margin-right: 30%;
}

.control-btn {
    margin-left: 47%;
}