* {
    font-family: 'Didact Gothic';
}

.shows {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 7.5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-list{
    padding-right: 15px;
}

#header-background {
    width: 100%;
    height: 500px;
    background-image: url("/Users/anagrisham/bootcamp/Craft_Events/assets/images/86BCF47B-1537-42B8-9731-89E500E355D5_1_201_a.jpeg");
}

.nav-items {
    padding-left: 15px;
    font-size: 25px;
    background: rgba(64, 64, 64);
    opacity: .4;
    padding-top: 15px;
    display: flex;
}

a {
    text-decoration: none;
    color: wheat;
}

.field {
    text-align: center;
}

.control {
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: inherit;
    margin-left: 30%;
    margin-right: 30%;
}

.control-btn {
    margin-left: 47%;
}