* {
    font-family: 'Didact Gothic';
}

.navbar-menu {
    background-color: transparent;
    padding: 5px;
    word-spacing: 14px;

}

.shows {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 7.5px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

/* .nav-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
} */

.nav-list{
    padding-right: 15px;
}

#header-background {
    width: 100%;
    height: 500px;
    background-image: url("/Users/anagrisham/bootcamp/Craft_Events/assets/images/86BCF47B-1537-42B8-9731-89E500E355D5_1_201_a.jpeg");
}

.nav-items {
    padding: 15px;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: wheat;
}

/* .button.is-primary {
    background-color: black;
    border-color: transparent;
    color: #fff;
} */